/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  width: 200px;
}

.mat-drawer-inner-container {
  background-color: rgb(240, 226, 226);
  color: white;
}
